@{
    ViewData["Title"] = "Home Page";
    var listProduct = (IEnumerable<WebAppDulich.Models.TourViewModel>)ViewBag.ListProduct;
    var listPlace = (IEnumerable<WebAppDulich.Data.Place>)ViewBag.ListPlace;
  //  var CategoryId = (WebAppDulich.Data.Category)ViewBag.CategoryId;
}
@*@model WebAppDulich.Data.Tour*@
<div id="vnt-content">
    <div class="block-banner-search">
        <div class="vnt-banner">
            <div id="banner_main" class="slick-initialized slick-slider active">

                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 4428px;" role="listbox">
                        <div class="item slick-slide slick-current slick-active" data-slick-index="0"
                             aria-hidden="false"
                             style="width: 1476px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"
                             tabindex="-1" role="option" aria-describedby="slick-slide00">
                            <a  href="#"
                               tabindex="0">
                                <div class="i-img"
                                     style="background-image: url(https://dulichvietnam.com.vn/tour/vnt_upload/weblink/1280x462.png);">
                                </div>
                            </a>
                        </div>
                        <div class="item slick-slide" data-slick-index="1" aria-hidden="true"
                             style="width: 1476px; position: relative; left: -1476px; top: 0px; z-index: 998; opacity: 0;"
                             tabindex="-1" role="option" aria-describedby="slick-slide01">
                            <a  href="http://dulichvietnam.com.vn/tour/lich-khoi-hanh.html"
                               tabindex="-1">
                                <div class="i-img"
                                     style="background-image: url(https://dulichvietnam.com.vn/tour/vnt_upload/weblink/1280x462-2.png);">
                                </div>
                            </a>
                        </div>
                        <div class="item slick-slide" data-slick-index="2" aria-hidden="true"
                             style="width: 1476px; position: relative; left: -2952px; top: 0px; z-index: 998; opacity: 0;"
                             tabindex="-1" role="option" aria-describedby="slick-slide02">
                            <a  href="#" tabindex="-1">
                                <div class="i-img"
                                     style="background-image: url(https://dulichvietnam.com.vn/tour/vnt_upload/weblink/banner-dlvn-tour_1.jpg);">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="style-search">
                <div class="wrapper">
                    <div class="list-search">
                        <ul>

                            <li>
                                <a class="active" href="#" target="_self">
                                    <span><i class="icon fa fa-clipboard-check"></i></span>
                                    <span class="text">TOUR TRỌN GÓI</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    <span><i class="icon far fa-building"></i></span>
                                    <span class="text">Hotel &amp; Combo</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" >
                                    <span><i class="icon fa fa-plane"></i></span>
                                    <span class="text">Vé máy bay</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    <span><i class="icon fab fa-cc-visa"></i></span>
                                    <span class="text">Visa, hộ chiếu</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" >
                                    <span><i class="icon fa fa-ship"></i></span>
                                    <span class="text">Tour du thuyền</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    <span><i class="icon fas fa-golf-ball"></i></span>
                                    <span class="text">Du lịch Golf</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    <span><i class="icon fas fa-book"></i></span>
                                    <span class="text">Blog, tin tức</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-search">
                        <div class="fs-row">
                            <div class="fs-cel fs-search">
                                <div class="sp20 bre">
                                    <div class="title-search">TÌM TOUR THEO TÊN TOUR</div>
                                    <form asp-action="SearchTour" asp-controller="Home" method="get">
                                        <div class="typeAHeadDiv">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="twitter-typeahead">
                                                        <input name="keyword" type="text" placeholder="Tìm tour" class="form-control typeahead tt-hint">
                                                    </span>
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn searchButton">
                                                            <span>
                                                                <i class="fab fa-sistrix"></i>
                                                            </span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="fs-cel fs-tour">
                                <div class="sp20">
                                    <div class="title-search">TÌM THEO LOẠI HÌNH TOUR VÀ ĐIỂM ĐẾN</div>
                          

                                    <div class="row cel-p5">
                                        <form asp-action="SearchTourForCategory" asp-controller="Home">
                                            <div class="col-md-4 col-sm-4 col-xs-6">
                                                <div class="script-select">
                                                    <select name="CategoryId" class="form-control" asp-items="ViewBag.categoryList"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="submit" class="btn">
                                                    <span>
                                                        <i class="fab fa-sistrix"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                        <form asp-action="SearchTourForPlace" asp-controller="Home">
                                            <div class="col-md-4 col-sm-4 col-xs-6">
                                                <div class="script-select">
                                                    <select name="PlaceId" class="form-control" asp-items="ViewBag.placeList"></select>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <button type="submit" class="btn">
                                                    <span>
                                                        <i class="fab fa-sistrix"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <link href="https://dulichvietnam.com.vn/tour/js/search/search.css" rel="stylesheet" type="text/css" />
                </div>
            </div>
        </div>
    </div>

    <div class="vnt-tinhnang">
        <div class="wrapper">
            <div class="row w_effect_up show">
                <div class="col-md-4 col-sm-12 col-xs-12 effect_up" style="animation-duration: 0.9s;">
                    <div class="item-tn">
                        <div class="i-img">
                            <img alt="icon1" data-ck-zoom="yes"
                                 src="https://luhanhvietnam.com.vn/vnt_upload/File/Image/icon2.png">
                        </div>

                        <div class="i-title">Thương hiệu uy tín - tin cậy</div>

                        <div class="i-content">
                            Hơn 20 năm kinh nghiệm, giải thưởng uy tín, kết nối nhiều
                            công nghệ du lịch mới.. sẽ làm hài lòng du khách
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 effect_up" style="animation-duration: 1.2s;">
                    <div class="item-tn">
                        <div class="i-img">
                            <img alt="icon2" data-ck-zoom="yes"
                                 src="https://luhanhvietnam.com.vn/vnt_upload/File/Image/icon1.png">
                        </div>

                        <div class="i-title">Hỗ trợ - tư vấn toàn quốc</div>

                        <div class="i-content">
                            Trụ sở chính tại Hà Nội và Tp Hồ Chí Mình cùng 20 chi nhánh,
                            VPDD tại các thành phố lớn trên cả nước...
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 effect_up" style="animation-duration: 1.5s;">
                    <div class="item-tn">
                        <div class="i-img">
                            <img alt="icon3" data-ck-zoom="yes"
                                 src="https://luhanhvietnam.com.vn/vnt_upload/File/Image/icon3.png">
                        </div>

                        <div class="i-title">Dịch vụ đa dạng - đầy đủ</div>

                        <div class="i-content">
                            Thông tin khuyến mãi về tour, vé thăm quan, dịch vụ Visa,
                            voucher khách sạn, thuê xe, vé máy bay...&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vnt-tintuc">
        <div class="wrapper">
            <div class="style-title-1 lazyloading">
                <div class="fl">
                    <h2 class="stTitle">Tour, dịch vụ du lịch HOT</h2>
                </div>
                <div class="fr">
                    <div class="link-more-2">
                        <a href="https://dulichvietnam.com.vn/tour/tour-dich-vu-du-lich-hot.html">
                            Xem
                            thêm
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="slider-tour loadBottom slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track"
                         style="opacity: 1; width: 1200px; transform: translate3d(0px, 0px, 0px);"
                         role="listbox">
                        <div style="width: 1200px;" class="wrap-item slick-slide slick-current slick-active">


                            @if (listProduct.Count() > 0)
                            {

                                @foreach (var item in listProduct)
                                {

                                    <div class="item col-md-3">
                                        <div class="item-tour tour-km">
                                            <div class="i-img">
                                                <a href="/home/tourDescription/@item.Id"
                                                   title="@item.Name"
                                                   tabindex="0">
                                                    <img src="@item.Logo"
                                                         alt="">
                                                    <span class="i-address">@item.PlaceName</span>
                                                </a>
                                                <div class="ribbon">
                                                    <div class="rib"
                                                         style="background-color: #d82727;  border-color: #d82727;text-transform:uppercase">
                                                        @item.CategoryName
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="i-desc">
                                                <div class="i-title">
                                                    <a href="/home/tourDescription/@item.Id"
                                                       tabindex="0">
                                                        @item.Name
                                                    </a>
                                                </div>
                                                <div class="div-price">
                                                    Giá từ : <span class="price text-danger">@Convert.ToDecimal(item.Price).ToString("N0")</span>
                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vnt-tintuc">
        <div class="wrapper">
            <div class="style-title-1 lazyloading">
                <div class="fl">
                    <h2 class="stTitle2">Miền Bắc</h2>
                </div>
                <div class="fr">
                    <div class="div-sub">
                        <div class="link-more-3 dropdown-toggle" data-toggle="dropdown" role="button"
                             aria-haspopup="true" aria-expanded="false">
                            <a href="javascript:void(0)">Tất cả</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="slider-tour loadBottom slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track"
                         style="opacity: 1; width: 1200px; transform: translate3d(0px, 0px, 0px);"
                         role="listbox">
                        <div style="width: 1200px;" class="wrap-item slick-slide slick-current slick-active">


                            @if (listProduct.Count() > 0)
                            {

                                @foreach (var item in listProduct.Where(x => x.AreaName == "MIEN_BAC"))
                                {

                                    <div class="item col-md-3">
                                        <div class="item-tour tour-km">
                                            <div class="i-img">
                                                <a href="/home/tourDescription/@item.Id"
                                                   title="@item.Name"
                                                   tabindex="0">
                                                    <img src="@item.Logo"
                                                         alt="">
                                                    <span class="i-address">@item.PlaceName</span>
                                                </a>
                                                <div class="ribbon">
                                                    <div class="rib"
                                                         style="background-color: #d82727;  border-color: #d82727">
                                                        TOUR BÁN CHẠY
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="i-desc">
                                                <div class="i-title">
                                                    <a href="#"
                                                       tabindex="0">
                                                        @item.Name
                                                    </a>
                                                </div>
                                                <div class="div-price">
                                                    Giá từ : <span class="price text-danger">@Convert.ToDecimal(item.Price).ToString("N0")</span>
                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="vnt-tintuc">
        <div class="wrapper">
            <div class="style-title-1 lazyloading">
                <div class="fl">
                    <h2 class="stTitle2">Miền Trung</h2>
                    <ul class="ul-title">
                    </ul>
                </div>
                <div class="fr">
                    <div class="div-sub">
                        <div class="link-more-3 dropdown-toggle" data-toggle="dropdown" role="button"
                             aria-haspopup="true" aria-expanded="false">
                            <a href="javascript:void(0)">Tất cả</a>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="slider-tour loadBottom slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track"
                         style="opacity: 1; width: 1200px; transform: translate3d(0px, 0px, 0px);"
                         role="listbox">
                        <div style="width: 1200px;" class="wrap-item slick-slide slick-current slick-active">
                            @if (listProduct.Count() > 0)
                            {

                                @foreach (var item in listProduct.Where(x => x.AreaName == "MIEN_TRUNG"))
                                {

                                    <div class="item col-md-3">
                                        <div class="item-tour tour-km">
                                            <div class="i-img">
                                                <a href="/home/tourDescription/@item.Id"
                                                   title="@item.Name"
                                                   tabindex="0">
                                                    <img src="@item.Logo"
                                                         alt="">
                                                    <span class="i-address">@item.PlaceName</span>
                                                </a>
                                                <div class="ribbon">
                                                    <div class="rib"
                                                         style="background-color: #d82727;  border-color: #d82727">
                                                        TOUR BÁN CHẠY
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="i-desc">
                                                <div class="i-title">
                                                    <a href="/home/tourDescription/@item.Id"
                                                       tabindex="0">
                                                        @item.Name
                                                    </a>
                                                </div>
                                                <div class="div-price">
                                                    Giá từ : <span class="price text-danger">@Convert.ToDecimal(item.Price).ToString("N0")</span>
                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vnt-tintuc">
        <div class="wrapper">
            <div class="style-title-1 lazyloading">
                <div class="fl">
                    <h2 class="stTitle2">Miền Nam</h2>

                </div>
                <div class="fr">
                    <div class="div-sub">
                        <div class="link-more-3 dropdown-toggle" data-toggle="dropdown" role="button"
                             aria-haspopup="true" aria-expanded="false">
                            <a href="javascript:void(0)">Tất cả</a>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="slider-tour loadBottom slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track"
                         style="opacity: 1; width: 1200px; transform: translate3d(0px, 0px, 0px);"
                         role="listbox">
                        <div style="width: 1200px;" class="wrap-item slick-slide slick-current slick-active">

                            @if (listProduct.Count() > 0)
                            {

                                @foreach (var item in listProduct.Where(x => x.AreaName == "MIEN_NAM"))
                                {

                                    <div class="item col-md-3">
                                        <div class="item-tour tour-km">
                                            <div class="i-img">
                                                <a href="/home/tourDescription/@item.Id"
                                                   title="@item.Name"
                                                   tabindex="0">
                                                    <img src="@item.Logo"
                                                         alt="">
                                                    <span class="i-address">@item.PlaceName</span>
                                                </a>
                                                <div class="ribbon">
                                                    <div class="rib"
                                                         style="background-color: #d82727;  border-color: #d82727">
                                                        TOUR BÁN CHẠY
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="i-desc">
                                                <div class="i-title">
                                                    <a href="/home/tourDescription/@item.Id"
                                                       tabindex="0">
                                                        @item.Name
                                                    </a>
                                                </div>
                                                <div class="div-price">
                                                    Giá từ : <span class="price text-danger">@Convert.ToDecimal(item.Price).ToString("N0")</span>
                                                </div>

                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

