@model IEnumerable<WebApp_01.Data.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
    var lstNewss = (IEnumerable<WebApp_01.Data.News>)ViewBag.lstNews;
}

<input type="hidden" id="success" value="@TempData["success"]" />
<input type="hidden" id="warning" value="@TempData["warning"]" />
<input type="hidden" id="error" value="@TempData["error"]" />

<div class="container-fluid">
    <h1 class="mt-4">Danh sách bài viết</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách bài viết</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="News" asp-area="admin">Tạo mới</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                @if (lstNewss.Count() > 0)
                {
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Hình ảnh</th>
                                <th>Tên</th>
                                <th>Danh mục</th>
                                <th>Mô tả</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var stt = 0;
                                @foreach (var item in lstNewss)
                                {
                                    <tr>
                                        <td>@Html.Raw(stt = stt + 1)</td>
                                        <td><img src="@item.Logo" style="width:60px;" /></td>
                                        <td>@item.Name</td>
                                        <td>@item.CategoryId</td>
                                        <td>@item.Description</td>
                                        @if (item.Status == 1)
                                        {
                                            <td><span class="btn-success">Hoạt động</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="btn-danger">Khóa</span></td>
                                        }
                                        <td>
                                            <a href="/Admin/News/Edit/@item.Id" class="btn btn-primary glyphicon glyphicon-pencilt">Sửa</a>
                                            <a class="btn btn-danger glyphicon glyphicon-trash" onclick="return confirm('Bạn có muốn xóa không?');" href="@Url.Action("Delete","News")/@item.Id">Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <span>Không có bài viết nào</span>
                }

            </div>
        </div>
    </div>
</div>
