@model WebAppDulich.Areas.Admin.Models.Tour.TourUpdateRequest

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/_LayoutAdmin.cshtml";
}
@section css{
    <link href="~/admin/js/summernote/summernote-bs4.min.css" rel="stylesheet">
}
@section js{
    <script src="~/admin/js/custemUrl.js"></script>
    <script src="~/admin/js/summernote/summernote-bs4.js"></script>

    <script>
        $(document).ready(function () {
            $('#Description').summernote({
                height: 200,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'hr']],
                    ['view', ['fullscreen', 'codeview']],
                    ['help', ['help']]
                ]
            });
        });
    </script>
}

<input type="hidden" id="success" value="@TempData["success"]" />
<input type="hidden" id="warning" value="@TempData["warning"]" />
<input type="hidden" id="error" value="@TempData["error"]" />

<div class="container-fluid">
    <h1 class="mt-4">Tạo mới sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Tour" asp-area="admin">Về danh sách</a>
        </div>

        <div class="card-body">
            <form asp-action="Edit" asp-controller="Tour" asp-area="Admin" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-md-8">
                        <input type="hidden" asp-for="Id" value="@Model.Id" class="form-control" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label"> Tên sản phẩm</label>
                            <input asp-for="Name" value="@Model.Name" id="txtName" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> URL</label>
                            <input asp-for="Url" value="@Model.Url" id="txtUrl" class="form-control" />
                            <span asp-validation-for="Url" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Điểm đến</label>
                            <input asp-for="Destination" id="txtUrl" value="@Model.Destination" class="form-control" />
                            <span asp-validation-for="Destination" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Điểm đi</label>
                            <input asp-for="DeparturePoint" value="@Model.DeparturePoint" id="txtUrl" class="form-control" />
                            <span asp-validation-for="DeparturePoint" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Danh mục</label><br />
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.categoryList"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Địa điểm</label><br />
                            <select asp-for="PlaceId" class="form-control" asp-items="ViewBag.placeList"></select>
                            <span asp-validation-for="PlaceId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mô tả</label>
                            <textarea asp-for="Description" value="@Model.Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Mã Code</label>
                            <input asp-for="Code" type="text" value="@Model.Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Ngày khởi hành</label>
                            <input asp-for="Start" value="@Model.Start" type="datetime" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                            <span asp-validation-for="Start" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <select class="form-control" asp-for="AreaName">
                                <option selected>Chọn miền</option>
                                <option value="MIEN_BAC">Miền bắc</option>
                                <option value="MIEN_TRUNG">Miền trung</option>
                                <option value="MIEN_NAM">Miền nam</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phương tiện</label>
                            <input asp-for="Vehicle" value="@Model.Vehicle" type="text" class="form-control" />
                            <span asp-validation-for="Vehicle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thời gian đi trong bao lâu</label>
                            <input asp-for="Time" value="@Model.Time" type="text" class="form-control" />
                            <span asp-validation-for="Time" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Giá</label>
                            <input asp-for="Price" value="@Model.Price" type="number" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Giảm giá</label>
                            <input asp-for="PriceDiscount" value="@Model.PriceDiscount" type="number" class="form-control" />
                            <span asp-validation-for="PriceDiscount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Thứ tự hiển thị</label>
                            <input asp-for="DisplayOrder" value="@Model.DisplayOrder" type="number" class="form-control" />
                            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Trạng thái</label>
                            <select class="form-control" id="Status" asp-for="Status">
                                @if (Model.Status == 1)
                                {
                                    <option value="1" selected>Còn hàng</option>
                                    <option value="0">Hết hàng</option>
                                }
                                else
                                {
                                    <option value="1">Còn hàng</option>
                                    <option value="0" selected>Hết hàng</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Hình ảnh</label>
                            <input asp-for="FileUpload" type="file" class="form-control" />
                            <span asp-validation-for="FileUpload" class="text-danger"></span>
                            <img src="@Model.Logo" style="width: 150px;" />
                        </div>
                        <div class="form-group">
                            <label>Sản phẩm mới :  </label>
                            <input asp-for="IsNewInput" type="checkbox" />
                            <span asp-validation-for="IsNewInput" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



